section.sec1{
    width: 100%;
    background-image: url(../src/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid var(--blue-light);
}
section.sec1{
    width: 100%;
    min-height: 500px;
}
section.sec2{
    padding: 20px 0;
    width: 100%;
    display: flex;
}
div.sec2-text{
    margin: 0 calc(5vw + 10px) 0 0;
    padding: 10px 0 0 50px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1;
    background-color: #fff;
}
div.sec2-text h3,
section.sec3 h3{
    font-size: 2.2em;
    font-weight: bolder;
    line-height: 1.1;
}
div.sec2-text h3 span,
section.sec3 h3 span{
    color: var(--blue-medium);
}

/*SLIDER 1*/
div.slider-container{
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 800px;
    padding: 10px 40px 10px 10px;
    overflow-x: scroll;
}
div.slider-container::-webkit-scrollbar{
    visibility: hidden;
}

div.slider-controles{
    margin: 0 0 10px 0;
    width: 100px;
    display: flex;
}
div.slider-controles div i{
    margin: 0 1vw 0 0;
    border-radius: 100%;
    padding: 2px 10px;
    font-size: 2em;
    cursor: pointer;
    color: var(--gray-green-dark);
    background-color: rgba(34, 34, 34, 0.083);
}
div.swiper-slide{
    margin: 10px calc(2vw + 20px) 10px 0;
    padding: 10px 0px;
    min-width: 230px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}
div.swiper-slide img {
    width: 90%;
    min-width: 200px;
}

@media screen and (max-width: 880px){
    section.sec2{
        flex-direction: column;
        align-items: center;
    }
    div.sec2-text{
        max-width: inherit;
        width: 100%;
        align-items: center;
    }
    div.sec2-text h3{
        padding: 0 10px;
        text-align: center;
        margin: 0 0 20px 0;
    }
    div.slider-container{
        margin: 20px 0 0 0;
    }
    div.swiper-slide{
        padding: 10px 0px;
        min-width: inherit;
        max-width: 250px;
    }
    div.swiper-slide img {
        width: 90%;
        min-width: inherit;
        max-width: 200px !important;
    }
}

/*SLIDER 2*/

section.sec3{
    margin: 20px 0;
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.sec3 h3{
    text-align: center;
}
div.slider-container-2{
    margin: 50px 0 0 0;
    width: 100%;
    position: relative;
    background-color: var(--gray-light);
}
div.swiper-wrapper-2{
    display: flex;
}
div.swiper-slide-2{
    margin: 0 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-medium);
}
div.swiper-slide-2 strong{
    font-size: 14px;
}