section.sec1{
    width: 100%;
    background-image: url(../src/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid var(--blue-light);
}
section.sec1{
    width: 100%;
    min-height: 500px;
}
section.sec2{
    padding: 20px 0;
    width: 100%;
    display: flex;
}
div.sec2-text{
    margin: 0 calc(5vw + 10px) 0 0;
    padding: 10px 0 0 50px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1;
    background-color: #fff;
}
div.sec2-text h3 span,
section.sec3 h3 span{
    color: var(--blue-medium);
}

/*SLIDER 1*/
div.slider-container{
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 800px;
    padding: 10px 40px 10px 10px;
    overflow-x: scroll;
}
div.slider-container::-webkit-scrollbar{
    visibility: hidden;
}

div.slider-controles{
    margin: 0 0 10px 0;
    width: 100px;
    display: flex;
}
div.slider-controles div i{
    margin: 0 1vw 0 0;
    border-radius: 100%;
    padding: 2px 10px;
    font-size: 2em;
    cursor: pointer;
    color: var(--gray-green-dark);
    background-color: rgba(34, 34, 34, 0.083);
}
div.swiper-slide{
    margin: 10px calc(2vw + 20px) 10px 0;
    padding: 10px 0px;
    min-width: 230px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}
div.swiper-slide img {
    width: 90%;
    min-width: 200px;
}

@media screen and (max-width: 880px){
    section.sec2{
        flex-direction: column;
        align-items: center;
    }
    div.sec2-text{
        max-width: inherit;
        width: 100%;
        align-items: center;
    }
    div.sec2-text h3{
        padding: 0 10px;
        text-align: center;
        margin: 0 0 20px 0;
    }
    div.slider-container{
        margin: 20px 0 0 0;
    }
    div.swiper-slide{
        padding: 10px 0px;
        min-width: inherit;
        max-width: 250px;
    }
    div.swiper-slide img {
        width: 90%;
        min-width: inherit;
        max-width: 200px !important;
    }
}

/*SLIDER 2*/

section.sec3{
    margin: 20px 0 50px 0;
    padding: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.sec3 h3{
    text-align: center;
}
div.slider-container-2{
    margin: 50px 0 20px 0;
    padding: 20px 0;
    width: 100%;
    display: flex;
    background-color: var(--gray-light);
    overflow-x: scroll;
}
div.swiper-wrapper-2{
    display: flex;
}
div.swiper-slide-2{
    margin: 0 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-medium);
}
div.swiper-slide-2 strong{
    font-size: 14px;
}

section.sec4{
    width: 100%;
}
div.sec4-container{
    padding: 70px 3vw;
    width: 100%;
    background-image: url(../src/img/bg_time.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
div.sec4-text{
    max-width: 600px;
    height: 100%;
}
div.sec4-text p{
    margin: 10px 0 30px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--gray-green-dark);
}

section.sec5{
    margin: 50px 0 160px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.sec5 h4,
section.sec5 h3{
    padding: 0 10px;
    text-align: center;
}
section.sec5 h4{
    margin: 10px 0 0 0;
    font-size: 1.2em;
    color: var(--blue-medium);
}
div.sec5-container{
    margin: 30px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.sec5-service{
    max-width: 400px;
}
@media screen and (max-width: 1260px){
    div.sec5-container{
        margin: 0;
    }
    div.sec5-service{
        margin: 60px;
    }
}
div.sec5-service div.sec5-img{
    width: 100%;
    height: 100%;
    max-height: 200px;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.sec5-service:nth-child(1) div.sec5-img{
    background-image: url(../src/img/Imagem_card_servico.jpg);
}
div.sec5-service:nth-child(2) div.sec5-img{
    background-image: url(../src/img/Imagem_card_servico-1.jpg);
}
div.sec5-service:nth-child(3) div.sec5-img{
    background-image: url(../src/img/Imagem_card_servico-2.jpg);
}
div.sec5-txt{
    padding: 20px;
    background-color: var(--gray-dark);
}
div.sec5-txt strong{
    color: #fff;
}
div.sec5-txt p{
    margin: 10px 0 40px 0;
    font-weight: normal;
    color: #ffffffc8;
}
div.sec5-txt button{
    font-size: 16px;
    color: var(--blue-medium);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

section.sec6{
    width: 100%;
}
div.sec6-container{
    padding: 70px 3vw;
    width: 100%;
    background-image: url(../src/img/BG_CONHECA.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
div.sec6-text{
    max-width: 700px;
    height: 100%;
}
div.sec6-text h3{
    color: #fff;
}
div.sec6-text p{
    margin: 10px 0 30px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--blue-medium);
}

/**/

section.sec7{
    margin: 50px 0 0 0;
    padding: 0 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div.sec7-text{
    max-width: 600px;
}
div.sec7-text p{
    margin: 30px 0 0 0;
    line-height: 1.5;
    color: var(--gray-dark);
}
div.selos_bg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.selos_bg img{
    margin: 2vw 5px 0 5px;
    width: 100%;
    height: 100%;
    max-width: 170px;
    max-height: 170px;
}
@media screen and (max-width: 1080px){
    section.sec7{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

section.sec8{
    margin: 50px 0 0 0;
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--gray-light);
}
div.sec8-txt{
    margin: 0 20px 0 0;
    max-width: 350px;
}
div.sec8-txt p{
    margin: 20px 0 0 0;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--blue-medium);
}
form.sec8-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
form.sec8-form input[type='text'],
form.sec8-form input[type='email']{
    margin: 0 0 15px 0;
    border: 2px solid var(--gray-dark);
    padding: 10px 20px;
    width: 100%;
    font-size: 1.1em;
    color: var(--gray-dark);
    outline: none;
    background-color: #ffffff00;
}
form.sec8-form input[type='submit']{
    margin: 15px 0 0 0;
}
@media screen and (max-width: 880px){
    section.sec8{
        flex-direction: column;
        align-items: center;
    }
    div.sec8-txt{
        max-width: none;
        text-align: center;
    }
    div.sec8-txt p{
        margin: 10px 0 20px 0;
        padding: 0 80px;
    }
    form.sec8-form{
        width: 80%;
        align-items: center;
    }
}