:root{
    --blue-medium: #00AEEF;
    --blue-light: #71D8FF;
    --gray-light: #e8e8e8;
    --gray-medium: #c9c9c9;
    --gray-green-dark: #033244;

    --pd-bod: 0 40px;
}
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto Slab';
    box-sizing: border-box;
}
a{
    color: #000;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
div#root{
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button.btn_sec{
    padding: 5px 30px;
    font-size: 1em;
    font-weight: bolder;
    color: var(--gray-green-dark);
    background-color: var(--blue-light);
    cursor: pointer;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
div#hd_1{
    padding: 20px 50px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--blue-light);
}
div#logo_hd{
    width: 10%;
}
div#logo_hd img{
    width: 100%;
    min-width: 120px;
}

nav#nav_p_hd{
    margin: 0 0 0 calc(5vw - 10px);
    width: 60%;
}
nav#nav_p_hd a{
    margin: 0 10px;
    padding: 10px;
    color: #2C3A2F;
    font-size: 1em;
}

div#itens_hd{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div#itens_hd select{
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
div#itens_hd i{
    color: var(--blue-medium);
    font-size: 1.8em;
    cursor: pointer;
}

/*subheader*/

div#hd_2{
    padding: 14px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-green-dark);
}
nav#nav_s_hd{
    width: 90%;
}
.subheader_hd{
    margin: 0 calc(3vw - 5px) 0 0;
    padding: 7px;
    color: #fff;
    font-size: .9em;
    font-weight: 200;
    cursor: pointer;
    white-space: nowrap;
}
div.search{
    border: 2px solid var(--blue-medium);
    border-radius: 7px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
div.search input[type='text']{
    width: calc(20vw - 10px);
    max-width: 210px;
    padding: 5px 5px;
    color: #fff;
    font-size: 1em;
    outline: none;
    background-color: inherit;
}
div.search i{
    color: #fff;
    font-size: 1.4em;
}
div#sub_menu.active{
    animation: submenu 200ms forwards ease;
}
div#sub_menu{
    visibility: hidden;
    padding: 0 50px;
    width: 100%;
    position: fixed;
    top: 147px;
    left: 0;
    right: 0;
    z-index: 1;
}
@keyframes submenu{
    0%{
        visibility: hidden;
        opacity: 0;
        transform: translateX(-5%);
    }

    100%{
        visibility: visible;
        opacity: 1;
        transform: translateX(0%);
    }
}
div#sub_menu div.menu{
    width: 100%;
    border-top: 5px solid var(--blue-light);
    padding: 20px 20px calc(3vw + 10px) 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
div#sub_menu div.menu
div.item_menu{
    max-width: 140px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
div.item_menu strong{
    border-bottom: 2px solid rgba(0, 0, 0, 0.246);
    padding: 0 0 10px 0;
    font-size: 1.2em;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
}
div.item_menu a{
    margin: 10px 0 0 0;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: var(--gray-green-dark);
}

/*RESPONSIVO*/

div#res_icon{
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
div#res_icon.active div:nth-child(1){ transform: rotate(45deg) translate(5px, 170%); }
div#res_icon.active div:nth-child(2){ opacity: 0; }
div#res_icon.active div:nth-child(3){ transform: rotate(-45deg) translate(7px, -200%); }

div#res_icon div{
    margin: 3px 0;
    width: 100%;
    height: 5px;
    background-color: #000; 
    transition: 200ms ease;
}

div#menu_res{
    width: 40%;
    min-width: 258px;
    padding: 10px 10px 300px 10px;
    height: 130%;
    position: fixed;
    top: 74px;
    right: -100%;
    bottom: 0%;
    z-index: 99;
    background-color: var(--gray-green-dark);
    transition: 200ms ease;
}
div#menu_res nav{
    margin: calc(1vw + 5px) 0 0 0;
    display: flex;
    flex-direction: column;
}
div#menu_res nav a,
div#menu_res nav span{
    padding: 10px;
    width: 100%;
    color: #fff;
    cursor: pointer;
    transition: 200ms ease;
}
div#menu_res nav a:hover,
div#menu_res nav span:hover{
    background-color: rgba(255, 255, 255, 0.276);
}
ul.res_sublinks.active{
    display: block;
}
ul.res_sublinks{
    margin: 0 0 0 7vw;
    display: none;
}
ul.res_sublinks li{
    max-width: 110px;
    width: 100%;
    list-style: none;
}
ul.res_sublinks li{
    margin: 5px 0 0 0;
    color: #fff;
}
ul.res_sublinks li.title{
    border-bottom: 1px solid #fff;
    padding: 0 0 5px 0;
}
ul.res_sublinks li a{
    display: block;
    padding: 7px;
}

@media screen and (max-width: 880px){
    div#hd_1{
        padding: 0 20px;
    }
    nav#nav_p_hd{
        display: none;
    }
    div#itens_hd{
        width: 50%;
    }
    div#itens_hd select{
        display: none;
    }
    div#hd_2{
        display: none;
    }
    div#res_icon,
    div#itens_hd i{
        margin: 0 7px;
        display: flex;
    }
    div#menu_res{
        overflow-y: scroll;
    }
    div.search{
        justify-content: space-between;
    }
    div.search input[type='text']{
        width: 80%;
    }
}