:root{
    --blue-medium: #00AEEF;
    --blue-light: #71D8FF;

    --gray-green-dark: #033244;

    --pd-bod: 0 40px;
}
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto Slab';
    box-sizing: border-box;
}
a{
    color: #000;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
}
div#root{
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
div#hd_1{
    padding: 20px 50px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--blue-light);
}
div#logo_hd{
    width: 10%;
}
div#logo_hd img{
    width: 100%;
    min-width: 120px;
}

nav#nav_p_hd{
    margin: 0 0 0 calc(5vw - 10px);
    width: 60%;
}
nav#nav_p_hd a{
    margin: 0 10px;
    padding: 10px;
    color: #2C3A2F;
    font-size: 1em;
}

div#itens_hd{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div#itens_hd select{
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
div#itens_hd i{
    color: var(--blue-medium);
    font-size: 1.8em;
    cursor: pointer;
}

/*subheader*/

div#hd_2{
    padding: 14px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-green-dark);
}
nav#nav_s_hd{
    width: 90%;
}
.subheader_hd{
    margin: 0 calc(3vw - 5px) 0 0;
    padding: 7px;
    color: #fff;
    font-size: .9em;
    font-weight: 200;
    cursor: pointer;
    white-space: nowrap;
}
div.search{
    border: 2px solid var(--blue-medium);
    border-radius: 7px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
div.search input[type='text']{
    width: calc(20vw - 10px);
    max-width: 210px;
    padding: 5px 5px;
    color: #fff;
    font-size: 1em;
    outline: none;
    background-color: inherit;
}
div.search i{
    color: #fff;
    font-size: 1.4em;
}

/*RESPONSIVO*/

div#res_icon{
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
div#res_icon.active div:nth-child(1){ transform: rotate(45deg) translate(5px, 170%); }
div#res_icon.active div:nth-child(2){ opacity: 0; }
div#res_icon.active div:nth-child(3){ transform: rotate(-45deg) translate(7px, -200%); }

div#res_icon div{
    margin: 3px 0;
    width: 100%;
    height: 5px;
    background-color: #000; 
    transition: 200ms ease;
}

div#menu_res{
    width: 40%;
    min-width: 258px;
    padding: 10px;
    height: 100%;
    position: fixed;
    top: 74px;
    right: -100%;
    bottom: 0%;
    z-index: 1;
    background-color: var(--gray-green-dark);
    transition: 200ms ease;
}
div#menu_res nav{
    display: flex;
    flex-direction: column;
}
div#menu_res nav a,
div#menu_res nav span{
    color: #fff;
}

@media screen and (max-width: 880px){
    div#hd_1{
        padding: 0 20px;
    }
    nav#nav_p_hd{
        display: none;
    }
    div#itens_hd{
        width: 50%;
    }
    div#itens_hd select{
        display: none;
    }
    div#hd_2{
        display: none;
    }
    div#res_icon,
    div#itens_hd i{
        margin: 0 7px;
        display: flex;
    }
    div#menu_res{
        overflow-y: scroll;
    }
    div.search{
        justify-content: space-between;
    }
    div.search input[type='text']{
        width: 80%;
    }
}